@import '../../Util/util';

.about {
    height: 100vh;
    .about-wall {
        position: absolute;
        height: 100vh;
        width: 100%;
        left: 0;
        background-color: $dark;
    }
}
