//colors/////////////////////

$dark: #232323;
$medium: #bbbbbb;
$light: #ececec;
$dark-blue: #0d85da;
$light-blue: #57b0f1;

//typography/////////////////

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
* {
    font-family: 'Roboto', sans-serif;
}

//formatting/////////////////
