@import '../Util/_util.scss';
@import '../../src/Util/Fonts/stylesheet.css';

body {
    background-color: $dark;
    margin: 0;
}

.app {
    height: 100vh;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}
