@import '../../Util/util.scss';

.nav {
    align-items: center;
    color: $light;
    display: flex;
    justify-content: space-between;

    height: 100px;
    position: fixed;
    width: 100%;
}
.nav-logo-wrapper {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.logo-line {
    margin: 0px 14px 0px 10px;
    width: 3px;
    height: 50px;
    background-color: $light-blue;
}

.logo-name-wrapper {
    font-size: 20px;
    letter-spacing: 0.1em;
}

.logo-first-name {
}
.logo-last-name {
}

.menu-btn-wrapper {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    margin-right: 10%;
}
.menu-btn-bar {
    background-color: $light;
    border-radius: 1px;
    height: 2px;
    width: 32px;
}
