@import '../../Util/_util.scss';
.welcome-wrapper {
    display: flex;
    flex-direction: column;
}

.welcome-wall {
    background-image: url('../Shared/Images/background.jpeg');
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
}

.welcome-content-wrapper {
    top: 45vh;
    margin-left: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;

    .welcome-name {
        color: $medium;
        font-weight: 300;
        font-size: 64px;
    }
    .welcome-title {
        color: $light;
        font-weight: 800;
        font-size: 96px;
        margin-bottom: 75px;
    }
}
